body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navContainer{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    }

    .navContainer:hover {
        /* top: 0; */
    }

    .hidden{
        transition: top 0.9s;
        top: -60px;
    }
    
nav {
    background: linear-gradient(-45deg, #571845, #c70039);
    overflow: hidden;
    margin: 10px;
    border-radius: 28px;
    width: 90%;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: top 0.9s;
    z-index: 1;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 25%;
    box-sizing: border-box;
    border-radius: 10px;
    
}


nav a:hover {
    background-color: #ddd;
    color: black;
}