body {
    background-color: rgb(50, 50, 50);
    overflow: hidden;
}

div {
    border-radius: 50%;
    border-top: 2px solid rgb(240, 240, 240);
    border-left: 2px solid transparent;
    border-bottom: 2px solid rgb(240, 240, 240);
    border-right: 2px solid transparent;
    animation: rotate 10s linear infinite;
}

div#first {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
}

div:not(#first) {
    width: 75%;
    height: 75%;
    position: relative;
    top: 15%;
    left: 15%;
}

@keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}
